@model IntegratedProject3.Models.DocumentViewModel
    

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>@Html.Raw("Document Title")</th>
    </tr>
@foreach (var item in Model.Documents)
{
    int marker = 0;
    int c = 0;
    <tr>
        <td>
                @foreach (var newitem in Model.Revisions)
                {
                    if ((item == newitem.document) && (newitem.DocCreationDate > Model.Revisions.ElementAt(marker).DocCreationDate))
                    {
                        marker = c;
                        c++;
                    } else
                    {
                        c++;
                    }

                }
            
                @Html.Raw(Model.Revisions.ElementAt(marker).DocumentTitle)




        </td>
            
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        </td>
    </tr>
    } 

</table>
